.experience-list>li, .publication-list>li {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .experience-list>li, .publication-list>li {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}