* {
    font-family: 'Monospace';
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

nav {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: skyblue;
    text-align: center;
}

.main-photo {
    border-radius: 50%;
    width: 70%;
    margin: 0px auto
}

.list-container {
    padding: 0px
}

.list-element {
    list-style-type: none;
    padding: 0.4em;
    margin: 0.4em auto;
    text-align: center;
    font-size: 1.4em;
    background: linear-gradient(white 0 0) left / var(--p,0) no-repeat;
    transition: background .4s, background-position 0s;
}

.list-container>a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    
}

.list-element:hover {
    --p: 100%;
    background-position: right;
}

.credits {
    font-size: 1em;
}

.main-panel {
    flex: 8;
    padding: 2px;
}
